@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
   --font-saira: 'Saira', sans-serif; /*new font*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-saira); /*new font*/
  --font-mono: var(--font-saira); /*new font*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4F3934;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
